<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manejador de Horarios</title>
    {% load static %}
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            text-align: center;
        }
        h1 {
            color: #333;
        }
        p {
            font-size: 18px;
            font-weight: bold;
            color: #555;
        }
    </style>
</head>
<body>
    <h1>Bienvenido al manejador de horarios</h1>
    <p>Agrega a la URL '/admin' y luego crea el ciclo, aula, curso y el curso aula para poder organizar el horario.</p>
</body>
</html>
